body{

font-family:Arial;
background:#0f2027;
color:white;
text-align:center;

}

h1{

background:#1e3c72;
padding:20px;

}

button{

padding:15px;
margin:10px;
border:none;
border-radius:8px;
background:#3a7bd5;
color:white;
font-size:18px;

}

.download{

background:#00c853;

}
